body {
  font-family: helvetica, sans-serif;
  background-color: #ffffff;
  background-color: #ffffff;
}

ul {
  margin: auto;
  padding: 0;
  column-count: 2;
  column-gap: 1em;
}

li {
  list-style: none;
  text-align: right;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  /*background: black;*/
}

h3 {
  font-size: 6em;
  text-align: center;
  text-shadow: 3px 3px yellow;
}

.photo-frame {
}

.photo-frame img {
  width: 100%;

  display: inline-block;
}

.photo-title {
  /*color: #fff;*/
  background: #fff;
  text-align: center;
  margin-top: -5px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: none;
}

