@charset "UTF-8";

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


html, body {
  height: 100%;
  background: rgb(32, 34, 42);
  font-family: "San Francisco", sans-serif;
  margin: 0;
}

h3 {
  font-weight: normal;
  height: 2vw;
  margin-bottom: 2.5vw;
  margin-top: 3vw;
  font-size: 2.3em;
text-align: right;
  color: #0b6062;
/*background: #eee;*/
}


h3 span {
  display: inline-block;
  line-height: 20px;
  z-index: 10;
  padding: 0 10px 0 0;
  mix-blend-mode: color-burn;
}

.cover {
  width: 45%;
  float: left;
  height: 100%;
  position: fixed;
  background: url(https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/120194848_2790739694534226_2664870093921498253_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=NX2v-x6k9KQAX-DeCar&tp=1&oh=6b6b18471ae25bc264c85e6c77a29fab&oe=602DE408) center center no-repeat;
  background-size: cover;
}

.content {
  float: right;
  width: 55%;
  box-sizing: border-box;
  padding: 20px 40px;
  background: #fff;
  font-size: 2vw;
  color: #6c022f;
  line-height: 1.3em;
  box-shadow: inset 0 0 50px #967b6f, inset 20px 0 80px #9ea48d, inset -20px 0 80px #c8ddf2, inset 20px 0 300px #dbe3b7, inset -20px 0 300px #8f7a73, 0 0 50px #174973, -10px 0 80px #7098c4, 10px 0 80px;
  margin-top: -1em;
padding-top: 1em;
}

.content a {
  color: #424242;
  text-decoration: none;
}

.bio a {
  border-bottom: 4px solid #e0e0e0;
  display: inline-block;
  line-height: 0.6em;
}

.interested-in {
  list-style-type: none;
  margin-top: 0.2em;
}

.interested-in li::before {
  font-family: "San Francisco", sans-serif;
content: ""; /*open-quote;*/
color: floralwhite;
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}

.interested-in li {

}

.headline {
  text-align: right;
  width: 70%;
}

.headline h1 {
  margin: 0;
  padding: 0;
  color: #373737;
  font-weight: normal;
  margin-bottom: -10px;
}

.headline h2 {
  margin: 0 2px;
  padding: 0;
  color: white;
  font-size: 0.8em;
  font-weight: normal;
  color: #373737;
}

.headline nav {
  margin: 20px 0;
}

.headline nav a {
  color: #373737;
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.8em;
  padding: 3px 6px;
}

.headline nav a:hover {
  background-color: white;
  color: black;
}

.headline {
  position: absolute;
  top: 260px;
  left: 5vw;
  z-index: 10;
  font-size: 2.4vw;
}

.background {
  /*background: url(/static/photo/place-holder-1.jpg);*/
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 5;
  background-color: #33354a;
}

.photo-info {
  position: absolute;
  z-index: 15;
  bottom: 0;
  right: 30px;
  text-align: right;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 8px;
  font-size: 0.8em;
  color: #fff;
  color: gray;
}

.photo-info span {
  color: #fff;
  display: inline-block;
  padding: 0 7px;
}

.photo-info #change-background {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.work-types {
  margin-bottom: 10px;
}

.work-type {
  margin-left: 2.5em;
  font-size: 0.8em;
}

.work-type:before {
  display: inline-block;
  /* position: absolute; */
  content: "";
  width: 2vw;
  height: 2vw;
  /* background: red; */
  margin-left: -2.5em;
  margin-right: 1em;
}

.work-type--experiment:before {
  background: #6382ff; /* radial-gradient(#1e13ff91 50%, #f9f9f91a, 74%, #ada9ff 100% */
}

.work-type--library:before {
  background: #ffca35;
}

.work-type--simulation:before {
  background: #ff93d2;
}

.works {
  max-width: 800px;
  overflow: hidden;
}

.work-items {
  margin: 0;
  padding: 0;
  margin-left: -4px;
}

.work-items li {
  list-style: none;
  padding: 0 4px;
  margin: 0;
  float: left;
  display: block;
  font-size: 0.9em;
}

.work-item a {
  text-decoration: none;
  line-height: 0.8em;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  font-weight: 100;
  color: #3d3d3d;
}

.work-item:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #dadada;
  position: absolute;
}

.work-item:last-child:after {
  display: none;
}

.work-item--library a {
  background-color: #ffecba;
}

.work-item--simulation a {
  background-color: #ffd1eb;
}

.work-item--experiment a {
  background-color: #d8d6ff;
}

.talk-list {
  margin: 0;
  padding: 0;
}

.talk-list span {
  color: black;
  border-bottom: 3px solid yellow;
  display: inline-block;
  line-height: 0.5em;
}

.talk-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.talk-list > li {
  margin-bottom: 3px;
}

.talk-list ul {
  margin: 4px 0 6px;
  padding: 2px;
  font-size: 0.8em;
}

.talk-list ul li {
  list-style: none;
  margin-left: 2vw;
  color: black;
}

.talk-list a {
  color: color(srgb 0 0 0);
background: white;
}

.talk-list a:before {
  content: attr(href);
display: inline-block;
position: absolute;
margin-left: 2vw;
color: rgba(63, 119, 251, 0.22);
font-size: 12px;
margin-top: 1.15em;
mix-blend-mode: plus-darker;
display: block;
}

footer {
  border-top: 1px solid #790086;
  padding: 30px 30px;
  margin-top: 50px;
}

#me {
  width: 20vw;
  border-radius: 50%;
}

#me:hover {

}

@media only screen and (max-width: 700px) {
  
  body {
    font-size: 1.4em;
  }
  
  .content { padding: 20px 15px }
  
  h3 {
  margin: 15px 0 32px;
  }
  
  h3 span {
  font-weight: normal;
  }
  
  .work-types {
  margin: 6px 0 4px 14px;
  }
    #me {
      float: right;
      width: 30vw;
      margin-top: 5vw;
    }

    .cover, .overlay, .background {
      width: 100%;
      height: 300px;
    }

    .cover {
      position: relative;
    }

    .content {
      position: relative;
      width: 100%;
      font-size: 1em;
    }

    .headline {
      bottom: 40px;
      width: 80%;
      text-align: left;
      margin-left: 10px;
      font-size: 1em;
    }

    .headline h1 {
      margin-bottom: -5px;
      
margin-top: 10px;
content: "fatiherikli";
letter-spacing: 1px;
color: deepskyblue;
background: white;
      color: rgb(0, 102, 133);
background: rgb(210, 210, 210);
padding: 0.1em 0.3em;
border-radius: 0.3em;
}

    }

    .headline nav {
      margin: 10px 0 0 -15px;
    }

    .photo-info {
      font-size: 8px;
      padding: 5px;
    }

    h3 {
      margin: 25px 0;
    }

    h3:before {
      width: 80%;
    }

    h3 span {
      line-height: 10px;
    }

    .bio a, .work-item a {
      border-bottom-width: 2px;
    }

    .work-type {
      margin-left: 2.5em;
      font-size: 0.7em;
    }

    .work-type:before {
      width: 15px;
      height: 15px;
    }

    .talk-list ul li {
      margin-left: 18px;
    }

    .talk-list a {
      margin-left: 12px;
    }

    .talk-list a:before {
      margin-left: -18px;
    }
  
  .headline > div { min-height: 500px; min-width: 200%; margin-left: -5%; z-index: -1 !important; /* :-( */ }

  nav {
    position: absolute;
    right: -66px;
    text-align: right;
    top: 100px;
    width: 100px;
  }
  
  h1 {
    margin-top: -170px;
  }
}

#canvas {
  display: none;
  margin: 0 auto;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  outline: none;
  image-rendering: optimizequality;
  transform: perspective(400px) rotateY(30deg);
  margin-bottom: 100px;
}
