@charset "UTF-8";

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


html, body {
  height: 100%;
  background: black;
  font-family: "San Francisco", sans-serif;
  margin: 0;
}

h3 {
  font-weight: bold;
  height: 2vw;
  margin-bottom: 2.5vw;
  margin-top: 3vw;
  font-size: 1.7em;
}


h3 span {
  display: inline-block;
  line-height: 20px;
  position: absolute;
  z-index: 10;
  padding: 0 10px 0 0;
}

.cover {
  width: 45%;
  float: left;
  background: black;
  height: 100%;
  position: fixed;
}

.content {
  float: right;
  width: 55%;
  box-sizing: border-box;
  padding: 20px 40px;
  background: #eee;
  font-size: 2vw;
  color: #3c3c3c;
  line-height: 1.3em;
}

.content a {
  color: #424242;
  text-decoration: none;
}

.bio a {
  border-bottom: 4px solid #e0e0e0;
  display: inline-block;
  line-height: 0.6em;
}

.interested-in {
  list-style-type: none;
  margin-top: 0.2em;
}

.interested-in li::before {
  font-family: "San Francisco", sans-serif;
content: "\2022";
color: #464646;
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}

.interested-in li {

}

.headline {
  text-align: right;
  width: 70%;
}

.headline h1 {
  margin: 0;
  padding: 0;
  color: #aeaeae;
  font-weight: normal;
  margin-bottom: -10px;
}

.headline h2 {
  margin: 0 2px;
  padding: 0;
  color: white;
  font-size: 0.8em;
  font-weight: normal;
  color: #6a6a6a;
}

.headline nav {
  margin: 20px 0;
}

.headline nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.8em;
  padding: 3px 6px;
}

.headline nav a:hover {
  background-color: white;
  color: black;
}

.headline {
  position: absolute;
  bottom: 100px;
  left: 5vw;
  z-index: 10;
  font-size: 2.4vw;
}

.background {
  /*background: url(/static/photo/place-holder-1.jpg);*/
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 5;
  background-color: #33354a;
}

.photo-info {
  position: absolute;
  z-index: 15;
  bottom: 0;
  right: 30px;
  text-align: right;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 8px;
  font-size: 0.8em;
  color: #fff;
  color: gray;
}

.photo-info span {
  color: #fff;
  display: inline-block;
  padding: 0 7px;
}

.photo-info #change-background {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.work-types {
  margin-bottom: 10px;
}

.work-type {
  margin-left: 2.5em;
  font-size: 0.8em;
}

.work-type:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 2vw;
  height: 2vw;
  background: red;
  margin-left: -2em;
}

.work-type--experiment:before {
  background: #6382ff;
}

.work-type--library:before {
  background: #ffca35;
}

.work-type--simulation:before {
  background: #ff93d2;
}

.works {
  max-width: 800px;
  overflow: hidden;
}

.work-items {
  margin: 0;
  padding: 0;
  margin-left: -4px;
}

.work-items li {
  list-style: none;
  padding: 0 4px;
  margin: 0;
  float: left;
  display: block;
  font-size: 0.9em;
}

.work-item a {
  text-decoration: none;
  line-height: 0.8em;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  font-weight: 100;
  color: #3d3d3d;
}

.work-item:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #dadada;
  position: absolute;
}

.work-item:last-child:after {
  display: none;
}

.work-item--library a {
  background-color: #ffecba;
}

.work-item--simulation a {
  background-color: #ffd1eb;
}

.work-item--experiment a {
  background-color: #d8d6ff;
}

.talk-list {
  margin: 0;
  padding: 0;
}

.talk-list span {
  color: black;
  border-bottom: 3px solid yellow;
  display: inline-block;
  line-height: 0.5em;
}

.talk-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.talk-list > li {
  margin-bottom: 3px;
}

.talk-list ul {
  margin: 4px 0 6px;
  padding: 2px;
  font-size: 0.8em;
}

.talk-list ul li {
  list-style: none;
  margin-left: 2vw;
  color: #9b9b9b;
}

.talk-list a {
  color: black;
  padding-left: 2vw;
}

.talk-list a:before {
  content: "—";
  display: inline-block;
  position: absolute;
  margin-left: -2vw;
}

footer {
  border-top: 1px solid #ddd;
  padding: 30px 30px;
  margin-top: 50px;
  color: #ababab;
}

#me {
  width: 20vw;
  border-radius: 50%;
}

#me:hover {

}

@media only screen and (max-width: 700px) {
    #me {
      float: right;
      width: 30vw;
      margin-top: 5vw;
    }

    .cover, .overlay, .background {
      width: 100%;
      height: 300px;
    }

    .cover {
      position: relative;
    }

    .content {
      position: relative;
      width: 100%;
      font-size: 1em;
    }

    .headline {
      bottom: 40px;
      width: 80%;
      text-align: left;
      margin-left: 10px;
      font-size: 1em;
    }

    .headline h1 {
      margin-bottom: -5px;
    }

    .headline nav {
      margin: 10px 0 0 -15px;
    }

    .photo-info {
      font-size: 8px;
      padding: 5px;
    }

    h3 {
      margin: 25px 0;
    }

    h3:before {
      width: 80%;
    }

    h3 span {
      line-height: 10px;
    }

    .bio a, .work-item a {
      border-bottom-width: 2px;
    }

    .work-type {
      margin-left: 2.5em;
      font-size: 0.7em;
    }

    .work-type:before {
      width: 15px;
      height: 15px;
    }

    .talk-list ul li {
      margin-left: 18px;
    }

    .talk-list a {
      margin-left: 12px;
    }

    .talk-list a:before {
      margin-left: -18px;
    }
}

#canvas {
  display: none;
  margin: 0 auto;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  outline: none;
  image-rendering: optimizequality;
  transform: perspective(100px) rotateY(15deg);
  margin-bottom: 30px;
}
