<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <aside>
        <time datetime="{{ post.date_created }}">{{ post.date_created|date }}</time>
        <strong>Tags</strong>
        <ul class="tags">
            {% for tag in post.get_tags %}
                <li><a rel="tag" itemprop="keywords" href="{% url blog_tag_detail tag.slug %}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </aside>

    <header>
        <h3><a itemprop="url" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    </header>

    <section itemprop="articleBody">
    {{ post.content }}
    </section>

    <footer>
        <meta itemprop="author" content="Fatih Erikli" />
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="fthrkl">Tweet</a>
        <script>
        // twitter share button
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
                js=d.createElement(s);js.id=id;
                js.src="//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs");
        </script>
    </footer>
</article>