{% extends "base.html" %}
{% load content_block %}

{% block content %}
<article class="block">
    <h3>contact me</h3>
    <section>
        {% content_block "contact-info" %}
    </section>
</article>

<article id="contact-form" class="block">
    <h3>contact form</h3>
    <section>
    {% if form.is_valid %}
        {{ success_message }}
    {% else %}
    <form action="{% url contact %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    </section>
</article>
{% endblock %}