{% extends 'base.html' %}

{% load content_block %}

{% block content %}
<div class="grid">
  <canvas id="grid-canvas"></canvas>
  <div class="grid-cells">
    {% for cell in grid %}
      <div class="cell {{ cell.type }}{% if cell.dotted%} dotted{% endif %}" style="
        left: {{ cell.x }}px;
        top: {{ cell.y }}px;
        {% if cell.color %}background-color: {{ cell.color }}{% endif %}
      ">
        {% include cell.template %}
      </div>
    {% endfor %}
  </div>
</div>
<script>
  var canvas = document.querySelector('canvas');
  var container = document.querySelector('.grid');
  var context = canvas.getContext('2d');
  var rows = Math.floor(document.querySelectorAll('.cell').length / 3) + 1;
  var cols = 3;
  var cellSize = 250;
  var pixelDensity = 2;
  var separator = 5;
  var computedWidth = pixelDensity * cellSize * cols;
  var computedHeight = pixelDensity * cellSize * rows;

  computedWidth += separator * cols * pixelDensity;
  computedHeight += separator * rows * pixelDensity;

  canvas.setAttribute('width', computedWidth + 'px');
  canvas.setAttribute('height', computedHeight + 'px');
  container.style.width = computedWidth / pixelDensity + 'px';
  container.style.height = computedHeight / pixelDensity + 'px';
  canvas.style.width = computedWidth / pixelDensity + 'px';
  canvas.style.height = computedHeight / pixelDensity + 'px';
  context.lineWidth = 5;
  context.translate(0, 30);

  function draw(color) {
    context.strokeStyle = color;

  for (var row = 0; row < rows; row++) {
    context.beginPath();

    var blur = (
      Math.random() * 5
    ) * (Math.random() < 0.5 ? -1 : 1);
    console.log(blur);
    context.moveTo(
      0, (
        row * cellSize * pixelDensity
      ) - blur
    );
    context.lineTo(computedWidth, (
        row * cellSize * pixelDensity
      ) + blur
    );
    context.stroke();

  }

  context.closePath();

  context.save();
  context.translate(0, -30);


  for (var col = 1; col < cols; col++) {
    context.beginPath();

    var blur = (
      Math.random() * 5
    ) * (Math.random() < 0.5 ? -1 : 1);


    context.moveTo(col * cellSize * pixelDensity - blur, 0);
    context.lineTo(col * cellSize * pixelDensity + blur, computedHeight);
  context.stroke();

  }

  context.restore();

  }

  draw('magenta')
  draw('yellow')
  draw('black')
</script>
{% endblock %}

{% block content_ %}
<div id="about-me">
    <div class="picture">
      <img src="{{ STATIC_URL }}img/me-2.png" alt=""/>
    </div>
    <p>
      A software developer who loves <u>generative</u> things with fun algorithms.
    </p>
</div>

<div class="content works-container">
  <h3 class="section-title">*projects</h3>
  <div class="works">
  {% for work in works %}
    <div class="work{% if not work.image %} without-image{% endif %}">
      <div class="work-title">
        <a href="{{ work.home_page }}">{{ work.title }}</a>
      </div>
      <div class="work-description">
        <a href="{{ work.home_page }}">{{ work.description }}</a>
      </div>
      <div class="work-detail">
        {{ work.details }}
        <ul>
          <li><a href="{{ work.home_page }}">Project Homepage</a></li>
          <li><a href="{{ work.source_code }}">Source code</a></li>
        </ul>
      </div>
      {% if work.image %}
      <div class="work-image">
        <a href="{{ work.home_page }}"><img src="{{ work.image }}"></a>
      </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>

<div class="presentations">
    <div class="content">
        <h3 class="section-title">Talks</h3>
        <ul>
        <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/">Text Classification with Redis</a>
            <span>Python Istanbul - 2016</span></li>
        <li><i>Instructor</i><a href="http://programlamagunleri.bilisimkarabuk.com">Python & Django Workshop</a><span>Programlama Günleri - 2016</span>
        </li>
        <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/">Text Processing with Python</a>
            <span>Python Istanbul - 2016</span></li>
        <li><i>Instructor</i><a href="http://blog.fatiherikli.com/post/linux-yaz-kampi-2014/">Web Development with Python & Django</a><span>Linux Yaz Kampı - 2014</span>
        <span>Linux Yaz Kampı - 2015</span></li>
            <li><i>Instructor</i><a href="#">Web Development with Python, Flask, MongoDB</a> <span>Akademik Bilişim 2015</span></li>
            <li><i>Guest</i><a href="http://adaptasyon.tumblr.com/post/105016798063/adaptasyon-4-donem-2-bolum-arguman-org">Adaptasyon 2. Season, 4. Episode</a>
            <span>Adaptasyon - 2014</span></li>
            <li><i>Talk</i><a href="http://arguman.org/blog/galatasaray-universitesi-munazara-egitimi-gunlerindeydik/">Argument Mapping Platform</a>
            <span>Galatasaray University - 2014</span></li>

            <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/dugumkume-42428350">Graph Databases and Neo4J</a>
                <span>Özgür Web Günleri - 2014</span>
                <span>PHPKonf - 2014</span>
            </li>
            <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/karmak-alar-ve-networkx">Complex Networks in Python</a><span>Python Istanbul - 2014</span></li>
            <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/lettuce-presentation">Behaviour Driven Development</a><span>Python Istanbul - 2014</span></li>
             <li><i>Guest</i><a href="https://soundcloud.com/ntvradyo/baska-bir-gozle-7-aralik-2014">NTV Radyo - Başka Bir Gözle</a><span>NTV Radyo - 2014</span></li>
            <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/processing-programclar-iin-eskiz-defteri">Sketchbook for Programmers (Processing)</a><span>Hackerspace - 2014</span></li>
            <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/django-orm-optimization">Django ORM Optimization</a><span>JsPyConf - 2013</span>
                <span>Python Istanbul - 2012</span>
            </li>
            <li><i>Instructor</i><a href="http://blog.fatiherikli.com/post/bahcesehir-bmk-django-dersleri/">Web Development with Django</a> <span>Bahçeşehir University - 2012</span></li>
            <li><i>Talk</i><a href="http://www.slideshare.net/lahavlevelaislabonita/celery-15778287">Distributed Queue Management</a> <span>Python Istanbul - 2012</span></li>

        </ul>
        <h3>Photos</h3>
        <div class="photo-list">
            <a href="https://500px.com/photo/93727781/bluehouse-by-fatih-erikli?from=user_library">
                <img src="https://ppcdn.500px.org/93727781/afb5c87d3009154731ddc6610cf4ff75272f8645/3.jpg?v=7">
            </a>

            <a href="https://500px.com/sugecirmezat">
                <img src="https://ppcdn.500px.org/93727779/f582597a6ef69fcb7ed401b8ad2146ea118496c4/3.jpg?v=9" alt="">
            </a>

            <a href="https://500px.com/photo/93727771/colors-by-fatih-erikli?from=user_library">
                <img src="https://ppcdn.500px.org/93727771/80365dfad84230dcae11f467c1c20591a7ffb9a9/3.jpg?v=10" alt="">
            </a>

            <a href="https://500px.com/photo/93727749/thee-silver-mt-zion-memorial-orchestra-by-fatih-erikli?from=user_library">
                <img src="https://ppcdn.500px.org/93727749/25f753abee466d9af7d7585e87983fcb35f5fe89/3.jpg?v=5" alt="">
            </a>

            <a href="https://500px.com/photo/93727751/aytekhead-by-fatih-erikli?from=user_library">
                <img src="https://ppcdn.500px.org/93727751/bc77cf20fa46f69b5155dade0a5bbcc7b155b9dd/3.jpg?v=7" alt="">
            </a>

            <a href="https://500px.com/sugecirmezat" class="more">
                <span>more photos</span>
            </a>

        </div>
    </div>
</div>

{% endblock %}