{% extends 'base.html' %}

{% load content_block %}

{% block content %}
    <div id="about-me">
        <p>ben fatih. istanbul'da yaşıyorum.
            <a href="http://hipo.biz">hipo</a>'da çalışıyorum.
            python ve javascript ile
            <a href="#works">bir şeyler</a> geliştiriyorum.
        </p>
    </div>

<div id="latest-posts">
    <div class="content">
        <h3>son blog yazıları</h3>
        <ul>
            {% for post in latest_posts %}
                <li>
                    <time>{{ post.date_created|date }}</time>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="works">
    <div class="content">
        <h3>çalışmalar</h3>
        <ul>
            <li>
                <a href="http://dbpatterns.com">dbpatterns</a>

                <p>Dbpatterns web üzerinde veritabanı modellerini oluşturup
                    paylaşabileceğiniz bir platformdur. Gerçek zamanlı olarak
                    birden çok kişi bir model üzerinde çalışabilir. Ayrıca
                    başkalarının oluşturduğu modelleri de platform üzerinden
                    görebilirsiniz.</p>
            </li>
            <li>
                <a href="http://progresif.org">progresif.org</a>

                <p>Progresif rock/metal severler için online radyo.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/image-glitcher">image-glitcher</a>

                <p>Bir image glitching uygulamasıdır. HTML5 & Javascript
                    ile geliştirilmiştir.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/mockup-designer">mockup designer</a>

                <p>
                    Basit bir mockup düzenleme aracıdır. Backbone ile
                    geliştirilmiştir.
                    Html5 ile gelen localStorage özelliğini kullanmaktadır.
                </p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/ismailabi.com">ismailabi</a>

                <p>
                    Leyla ile mecnun dizisinden repliklerin bulunduğu ufak bir
                    haftasonu projesidir. Replikler kullanıcı tarafından
                    ekleniyor.
                    Kodları github üzerinde açıktır.
                </p>
            </li>
            <li class="load-more">
                <a href="#">daha fazla göster</a>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/brainfuck-visualizer">brainfuck visualizer</a>

                <p>
                    Brainfuck dili için yaptığım online bir editör ve
                    görselleştiricidir. Brainfuck sadece 8 komutu bulunan,
                    turing-complete
                    bir programlama dilidir. İlginç olan tarafı ise bu dilin
                    interpreter'ını yazmak bu dilde bir şeyler yapmaktan
                    çok daha basit olmasıdır :)
                </p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/kule">kule</a>

                <p>Kule Mongodb için bir REST arayüzüdür. Kule'yi hızlıca
                    çıkarmanız gereken
                    mobile ya da web uygulamalarınız da bir backend servisi
                    olarak
                    kullanabilirsiniz.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/dictdiffer">dictdiffer</a>

                <p>Python'da iki adet dictionary'nin farkını almanızı ve bu
                    farkı
                    yeni dictionary üzerinde uygulamanızı sağlayan ufak bir
                    kütüphanedir.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/olay">olay</a>

                <p>Python üzerinde backbone benzeri bir event dispatching
                    kütüphanesidir.</p>
            </li>
            <li>
                <a href="http://github.com/hipo/django-api-playground">django-api-playground</a>

                <p>Django üzerinde API'larınız için test ortamı oluşturmanızı
                    sağlayan, yeniden kullanılabilir bir uygulamadır.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/nginxparser">nginx parser</a>

                <p>Python üzerinde nginx konfigürasyon dosyalarınızı parse
                    etmenizi sağlayan
                    bir kütüphanedir.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/backbone-notifications">backbone-notifications</a>

                <p>Backbone.js için bir global notification yöneticisidir.
                    Dbpatterns
                    ve Mockup Designer projesinde kullanılmıştır.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/backbone-autocomplete">backbone-autocomplete</a>

                <p>Backbone.js için jquery-ui tarzı autocomplete widget'dır.
                    Ekstra bir uğraş gerektirmeden direkt olarak backbone
                    koleksiyonları üzerinden çalışmaktadır.</p>
            </li>
            <li>
                <a href="http://github.com/fatiherikli/twister">twister</a>

                <p>Wamp protokolünün Python üzerinde uygulanmış halidir. Aynı
                    zamanda
                    twister.js adında bir javascript istemcisi
                    bulunmaktadır.</p>
            </li>
        </ul>
    </div>
</div>

<div id="presentations">
    <div class="content">
        <h3>sunumlar</h3>
        <ul>
            <li>
                <h4><a href="http://www.slideshare.net/lahavlevelaislabonita/lettuce-presentation">Lettuce ile Behaviour Driven Development</a></h4>
                <p>Python Istanbul - <span>2014</span></p>
            </li>

            <li>
                <h4><a href="http://www.slideshare.net/lahavlevelaislabonita/processing-programclar-iin-eskiz-defteri">Programcılar İçin Eskiz Defteri</a></h4>
                <p>Hackerspace - <span>2014</span></p>
            </li>

            <li>
                <h4><a href="http://www.slideshare.net/lahavlevelaislabonita/django-orm-optimization">Django ORM Optimizasyonu</a></h4>
                <p>Python Istanbul - <span>2012</span></p>
                <p>JsPyConf Istanbul - <span>2013</span></p>
            </li>

            <li>
                <h4><a href="http://www.slideshare.net/lahavlevelaislabonita/celery-15778287">Django'ya Giriş</a></h4>
                <p>Python Istanbul - <span>2012</span></p>
            </li>

            <li>
                <h4><a href="http://www.slideshare.net/lahavlevelaislabonita/django-introduction-15778278">Distributed Queue Management - Celery</a></h4>
                <p>Python Istanbul - <span>2012</span></p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}