<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <title>{% block title %}Fatih Erikli | fatiherikli.com{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% spaceless %}
    Personal web site of Fatih Erikli, an Python developer.{% endspaceless %}{% endblock %}">
    <meta name="author" content="Fatih Erikli">
    <meta name="application-name" content="Fatih Erikli" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block extra-meta %}
    <meta property="og:title" content="Fatih Erikli" />
    <meta property="og:description" content="Personal web site of Fatih Erikli, an Python developer." />
    <meta property="og:image" content="{{ STATIC_URL}}img/icon-128.png" />
    {% endblock %}

    <link rel="author" href="{{ urls.google }}" />
    <link rel="author" href="{{ urls.humans }}" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ urls.blog_rss_feed }}" />
    <link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="{{ urls.blog_atom_feed }}" />

    <link rel="icon" href="{{ STATIC_URL}}img/icon-16.png" />
    <link rel="shortcut icon" href="{{ STATIC_URL}}img/icon-16.png" />

    <link rel="stylesheet" href="{{ STATIC_URL}}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css">
    <link rel="stylesheet" media="only screen and (max-width: 960px), only screen and (max-device-width: 960px)" href="{{ STATIC_URL}}css/tablet.css" />
    <link rel="stylesheet" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{ STATIC_URL}}css/mobile.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crete+Round">

</head>

<body>

<header id="banner" role="banner" itemscope itemtype="http://schema.org/Person">
    <img itemprop="photo" src="{{ STATIC_URL }}img/kafa.png" alt="Fatih Erikli" id="logo" />
    <hgroup>
        <h1 itemprop="name">Fatih Erikli</h1>
        <h2 itemprop="title">python - django developer</h2>
    </hgroup>
</header>
<nav role="navigation">
    <ul>
        <li><a href="{{ urls.index }}">home</a></li>
        <li><a href="{{ urls.blog }}">blog</a></li>
        <li><a href="{{ urls.blog_rss_feed }}">feed</a></li>
        <li><a rel="me" href="{{ urls.github }}">github</a></li>
        <li><a rel="me" href="{{ urls.twitter }}">twitter</a></li>
        <li><a rel="author" href="{{ urls.google }}?rel=author">google</a></li>
        <li><a href="{{ urls.contact }}">contact</a></li>
        {# TODO: find a solution for url tag problem in multi-domain django sites #}
    </ul>
</nav>

<section role="main" id="main">
    {% block content %}
    {% endblock %}
</section>

<footer>
    Runs with Python, Django.
    Source code is available on <a href="http://github.com/fatiherikli/fatiherikli.com">github</a>.
</footer>

<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}' +
        'js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- google code prettify -->
<link rel="stylesheet" href="{{ STATIC_URL }}js//libs/google-code-prettify/prettify.css" type="text/css" />
<script src="{{ STATIC_URL }}js//libs/google-code-prettify/prettify.js"></script>
<!-- end google code prettify -->

<!-- scripts concatenated and minified via build script -->
<script src="{{ STATIC_URL }}js/script.js"></script>
{% block javascripts %}
{% endblock %}
<!-- end scripts -->

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
mathiasbynens.be/notes/async-analytics-snippet -->
<script>
    var _gaq=[['_setAccount','UA-26195393-1'], ['_setDomainName', '.fatiherikli.com'], ['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>