nav ul li {
    width: 50%;
    text-align: left;
}

nav ul li:nth-child(odd) {
    text-align: right;
}

article.post  {

    overflow: hidden;
    width: 100%;
    margin-left: 0;

}

form textarea {
    width: 100%;
}