nav {
    width: 100%;
    margin: 0;
    top: 0;

}

header#banner {
    padding-top: 40px;
}

nav ul {
    border-top: 3px solid #069;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav ul li a {
    text-align: center;
}

nav .menu-icon {
    background-color: rgba(255, 255, 255, 0.70);
    background-position:  96% center;
    padding: 10px;
}