body {
    background: #fff url(/static/img/bg-pattern.png);
    color: #434343;
}

#container {
    max-width: 960px;
    margin: 20px auto;
}


#main, footer {
    clear: both;
}

header, nav {
    font-family: 'Crete Round', serif;
}

header {
    width: 50%;
    float: left;
    height: 250px;
    background: url("../img/kafa.png") no-repeat left center;
    padding-left: 200px;
}

header h1 {
    font-size: 38px;
    font-weight: normal;
    margin-top: 75px;
    margin-bottom: 0;
}

header h2 {
    color: gray;
    font-size: 25px;
    font-weight: normal;
    margin-top: -8px;
}

nav {
    position: absolute;
    margin: 155px 0 0 185px;
}

nav li {
    float: left;
    margin-left: 15px;
}

nav li a {
    letter-spacing: -1px;
    color: #0071a8;
    font-size: 24px;
    text-decoration: none;
}

article, footer {
    background-color: white;
    border-top: 5px solid #0088c4;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #5f5f5f;
    line-height: 24px;
}

article h3 {
    color: #0071a8;
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2em;
}

article time {
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 10px;
}

article h4 {
    margin: 0;
    padding: 0;
}

a {
    color: #0071a8;
    text-decoration: none;
}


.left {
    float: left;
}

.right {
    float: right;
}

.column {
    width: 44%;
}


/*
* Pretty link lists
*/

.link-list ul {
    padding: 0;
    margin-bottom: 10px;
}

.link-list li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px dotted #c6c6c6;
    padding-bottom: 10px;
}

.link-list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;

}

.link-list li a {
    display: block;
    float:left;
    background-color: #0071a8;
    color:white;
    padding: 0 10px;
    margin-left: -10px;
    margin-right: 5px;
}

.link-list li a:hover {
    background-color: #FE57A1;
}

/*
* Posts
*/

.post img {
    max-width: 900px;
}

/*
* Forms
*/

form label {
    display: block;
}


/*
* Media queries
*/

@media screen and (max-width: 700px) {

    header {
        width: 100%;
        float: none;
        text-align: center;
        background-position: center top;
        padding: 140px 0 0 0;
    }

    nav {
        position: relative;
        float: none;
        margin: -70px 0 40px 0;
    }

    nav ul {
        width: 360px;
        margin: auto;
    }

    nav li {
        margin-bottom: 20px;
        margin-top: -25px;
    }

    nav li a {
        font-size: 42px;
    }

    article.column {
        width: auto;
        float: none;
    }

    .post img {
        max-width: 100%;
    }

    article h3 {
        font-size: 28px;
    }

    article {
        margin-left: 20px;
        margin-right: 20px;
    }
}