body {
    background: #f7f7f7 url(/static/img/bg-pattern.png) fixed;
    color: #575757;
    margin: 0 auto;
    font-size: 16px;
    width: 960px;

}

header#banner {
    margin-top: 50px;
    overflow: hidden;
}

    header img#logo {
        float: left;
    }

    header#banner hgroup {
        float: left;
        font-family: "Crete Round", serif;
        padding-bottom: 50px;
        margin-left: 20px;
    }

    header#banner h1 {
        margin: 0;
        padding: 40px 0 10px;
        font-size: 59px;
        font-weight: normal;

    }

    header#banner h2 {
        margin: -25px 0 0 0;
        padding: 0;
        font-weight: normal;
        font-size: 25px;
        color: gray;
    }



nav {
    background: white;
    height: 2.8em;
    border-top: 5px solid #069;
    margin-top: 15px;
}

    nav ul li {
        display: block;
        float: left;
    }

        nav ul li a {
            color: #069;
            text-decoration: none;
            /*font-weight: bold;*/
            font-family: "Crete Round", serif;
            font-size: 25px;
            display: block;
            padding: 5px 15px;
        }

        nav ul li a:hover {
            background-color: #069;
            color: white;
        }

    nav .menu-icon {
        display: none;
    }


section#main {

}

    section#main a {
        color: #069;
    }


    section#main article {
        margin-top: 30px;
        font-size: 18px;
        line-height: 1.3em;
    }

    section#main article.post {
        /*width: 810px;*/
        margin-left: 150px;
        background: white;



    }

    section#main article aside {
        margin-left: -150px;
        width: 150px;
        float: left;
        text-align: right;

    }

    section#main article ul.tags {
        margin: 0;
    }

    section#main article ul.tags li {
        margin: 0;
        list-style: none;

    }

    section#main article footer {
        clear: both;
        padding: 10px 20px;
    }

    section#main article ul.tags li a {
        color: white;
        text-decoration: none;
        display: block;
        float: right;
        padding: 2px 5px;
        background: #069;
        margin-bottom: 2px;
        font-weight: normal;
    }

    section#main article.post time {
        /*padding: 5px 7px;*/
        background: #069;
        color: white;
        display: block;
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        padding: 10px 10px 10px 0;
        line-height: 1em;
        margin-bottom: 20px;
    }

    section#main article h3 {
        padding: 20px 20px 0 20px;
        margin: 0;
        line-height: 1.5em;
    }

    section#main article h3 a {
        color: #069;
        font-size: 30px;
        text-decoration: none;
    }

    section#main article section {
        padding: 0 20px;

    }

    section#main article.block  {

        -webkit-font-smoothing: antialiased;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
    }


    section#main article img {
        max-width: 100%;
    }


    section#main article.block  {

    }

    section#main article#projects  {
        float: left;
        width: 48%;
    }

    section#main article#open-source  {
        float: left;
        width: 48%;
        margin-left: 2%;

    }

        section#main article.block h3 {
            padding: 5px 10px;
            margin: 0;
            background: #069;
            color: white;
            float: left;
            font-weight: normal;
        }





        section#main article.block section {
            clear: both;
            padding: 5px 25px;
            background: white;
        }

        section#main article.block ul {
            padding: 0;
        }

        section#main article.block ul li {
            list-style: none;
            margin: 5px 0;
        }

        section#main #projects li a, section#main #open-source li a {
            display: block;
            text-decoration: none;
            padding: 0 5px;
            margin: 20px 10px 10px -5px;
            border-bottom: 1px dotted #bebebe;

        }

        section#main article#latest-posts section {
            overflow: hidden;
        }

        section#main article#latest-posts time {
            float: left;
            width: 15%;
            text-align: right;
            border-right: 3px solid #f4f4f4;
            padding-right: 10px;
            color: #a4a4a4;
        }

        section#main article#latest-posts li {
            float: left;
            width: 100%;
        }

        section#main article#latest-posts a {
            display: block;
            float: left;
            padding-left: 10px;
            text-decoration: none;
            font-weight: normal;
            font-size: 20px;
        }

        section#main article#latest-posts .more {
            margin: 15px 150px;
            display: inline-block;
            text-decoration: none;
            color: #666666;

            transition: margin-left 0.4s;
            -moz-transition: margin-left 0.4s;
            -webkit-transition: margin-left 0.4s;
            -o-transition: margin-left 0.4s;

        }

        section#main article#latest-posts .more:hover {
            margin-left: 160px;
        }

        section#main article#latest-posts .more:after {
            content: "»";
            margin-left: 5px;
        }


section.columns footer {
    clear: both;
}

form label {
    display: block;
}

form {
    padding-bottom: 20px;
}

ul.errorlist {
    overflow: hidden;
    position: absolute;
    margin-top: -5px;
    margin-left: 100px;
}

ul.errorlist li {
    float: left;
    background: red;
    color: white;
}

body > footer {
    background: white;
    margin-top: 30px;
    padding: 15px;
    border-top: 5px solid #069;
}


@media screen and (min-width: 960px) {

    /* ensure `nav ul` is visible on desktop version */
    nav ul {
        display: block !important;
    }

}