/*

*/


body {
    background: #f7f7f7 url(/static/img/bg-pattern.png) fixed;
    color: #434343;
    margin: 0 auto;
    font-size: 16px;
    width: 960px;
    /*-webkit-font-smoothing: antialiased;*/
}

header#banner {
    margin-top: 50px;
}

    header#banner hgroup {
        font-family: "Crete Round", serif;
        font-weight: normal;
        background: url(../img/kafa.png) no-repeat left top;
        padding-left: 200px;
        padding-bottom: 50px;
    }

    header#banner h1 {
        margin: 0;
        padding: 40px 0 10px;
        font-size: 59px;
        font-weight: normal;

    }

    header#banner h2 {
        margin: -25px 0 0 0;
        padding: 0;
        font-weight: normal;
        font-size: 25px;
        color: gray;
    }



nav {
    background: white;
    height: 2.8em;
    border-top: 5px solid #069;
    margin-top: 15px;
}

    nav ul li {
        display: block;
        float: left;
    }

        nav ul li a {
            color: #069;
            text-decoration: none;
            font-weight: bold;
            font-family: "Crete Round", serif;
            font-size: 25px;
            display: block;
            padding: 5px 10px;
        }

        nav ul li a:hover {
            background-color: #069;
            color: white;
        }


section#main {

}

    section#main a {
        color: #069;
    }


    section#main article {
        margin-top: 10px;
        background: white;
        width: 810px;
        margin-left: 150px;
    }


    section#main article aside {
        margin-left: -150px;
        width: 150px;
        float: left;
        text-align: right;

    }

    section#main article ul.tags {
        margin: 0;
    }

    section#main article ul.tags li {
        margin: 0;
        list-style: none;

    }

    section#main article footer {
        clear: both;
    }

    section#main article ul.tags li a {
        color: white;
        text-decoration: none;
        display: block;
        float: right;
        padding: 1px 5px;
        background: #069;
        margin-bottom: 2px;
    }

    section#main article time {
        /*padding: 5px 7px;*/
        background: #069;
        color: white;
        display: block;
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        padding: 10px 10px 10px 0;
        line-height: 1em;
        margin-bottom: 20px;
    }


        section#main article header {

        }


        section#main article header h3 {
            padding: 20px 20px 0 20px;
            margin: 0;
            line-height: 1.5em;
        }

        section#main article header h3 a {
            color: #069;
            font-size: 30px;
            text-decoration: none;
        }

        section#main article section {
            padding: 0 20px;
        }



        section#main article img {
            max-width: 100%;
        }


