body {

    width: 100%;
}

header#banner {
    margin-top: 20px;
}

    header#banner hgroup {
        padding: 150px 0 0 0;
        background-position: top center;
        text-align: center;
    }

    header#banner h2 {
        font-weight: normal;
        font-size: 25px;
    }


nav {
    height: auto;
    overflow: auto;
}

    nav ul li {
        float: left;
        text-align: center;
        width: 16%;
    }


    nav ul li a {
        font-weight: normal;
    }

#nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


article {
    clear: both;
}

article.post aside {
    display: none;
}

section#main article {
    width: 100%;
    margin: 10px 0;
}

section#main article.post p {
    text-wrap: avoid;
}

section#main article.post {
    margin-left: 0;
}

section#main article#projects,  section#main article#open-source  {
    width: 100%;
    float: none;

    margin: 0;

}

section#main article.block h3 {
    margin-left: 5px;
}
section#main article.block section {
    margin: 0 10px 20px 15px;
}


section#main article#latest-posts time {

    width: 100%;
    text-align: left;
    border-width: 0;
    border-left: 3px solid #f4f4f4;
    padding-left: 7px;

}

section#main article#latest-posts li {
    margin-bottom: 30px;
}

section#main article#latest-posts .more {
    width: 100%;
    margin: 20px 0;
}

section#main article#latest-posts .more:hover {
    margin-left: 10px;
}