{% extends 'blog/base.html' %}

{% load content_block %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.title }}{% endblock %}

{% block extra-meta %}
{{ block.super }}
    <link rel="canonical" href="{{ post.get_absolute_url }}" />
{% endblock %}

{% block body-id %}{% if post.cover_image %}blog-post-with-cover{% endif %}{% endblock %}

{% block content %}

    {% if post.cover_image %}
    <div class="blog-post-cover" style="background-image: url('{{ post.cover_image.url }}');"></div>
    {% endif %}

    {% include "blog/inc/post.html" %}

    <article class="comments">
        <section>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'fatiherikli';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
    </article>

{% endblock %}
